body {
	padding: 20px;
	/*	background: url("${baseUrl}/resources/css/noise_pattern.png") repeat
		scroll 0 0 transparent */
}

input[type="text"] {
	margin-bottom: 15px;
	margin-left: 11px;
	margin-right: 40px;
	padding: 5px;
	width: 70px;
}

div.processDetails {
	width: 170px;
	display: inline-block;
	float: left;
	border-right: 1px solid #ddd;
	text-align: center;
	height: 30px;
}

tr.even {
	background: #8fbcdb;
}

tr.odd {
	background: #BDDAEE;
}

td,th {
	padding: 5px;
	text-align: center;
}

div.processName {
	width: 75px;
	float: left;
	text-align: center;
	font-weight: bold;
	border-right: 1px solid #ddd;
	height: 30px;
}

div.gantt,div.activeGantt {
	width: 30px;
	text-align: center;
	float: left;
	border-right: 1px solid #ddd;
	display: inline-block;
	height: 30px;
}

div.ganttContainer {
	
}

div.clearfix {
	clear: both;
}

div.activeGantt {
	background: maroon;
}